html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

/* HEADER */

#header {
  height: 100vh;
}

#header .background_header {
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 100%, 0% 0%, 30% 0%, 80% 100%);
  -webkit-clip-path: polygon(0 100%, 0% 0%, 30% 0%, 80% 100%);
}

#header .fixed_nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#header .content_header {
  position: absolute;
  top: 0;
  right: 50px;
}

#header .content_header img {
  float: right;
  margin-bottom: 50px;
}

#header .content_header .animate {
  clear: both;
  position: relative;
  font-size: 4em;
}

#header .content_header .animate .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

#header .content_header .animate .text-wrapper .letters {
  font-weight: 400;
}

#header .content_header .animate .letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

#header .content_header .discover a {
  float: right;
  margin-top: 20vh;
}

/* ABOUT */

#about {
  padding-top: 150px;
  height: 100vh;
}

/* WEBSITES */

#projects {
  padding-top: 150px;
}

#projects .project_card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#projects .project_card:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* CONTACT */

#contact {
  padding-top: 150px;
  height: 70vh;
}

/* FOOTER */

.footer {
  height: 30vh;
  background-color: #3C454D;
}

